<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">Owners List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td style="width: 150px;">ID</td>
            <td style="width: 150px;">First name</td>
            <td style="width: 150px;">Last name</td>
        </tr>
    </thead>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">p</td>
        <td th:text="${owner.lastName}">q</td>
    </tr>
</table>

</body>
</html>